@page
@model U2.SharpTracker.Web.Pages.Branches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackerBranch[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackerBranch[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackerBranch[0].LoadStatusCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TrackerBranch) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadStatusCode)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> | 
                <a asp-page="./Load" asp-route-id="@item.Id">Load & Parse</a>
            </td>
        </tr>
}
    </tbody>
</table>
